<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Date attendance</th>
      <th>Checkin morning</th>
      <th>Checkout morning</th>
      <th>Checkin afternoon</th>
      <th>Checkout afternoon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.date_attendance %></td>
        <td><%= attendance.checkin_morning %></td>
        <td><%= attendance.checkout_morning %></td>
        <td><%= attendance.checkin_afternoon %></td>
        <td><%= attendance.checkout_afternoon %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
