<p id="notice"><%= notice %></p>

<p>
  <strong>Date attendance:</strong>
  <%= @attendance.date_attendance %>
</p>

<p>
  <strong>Time attendance:</strong>
  <%= @attendance.time_attendance %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @attendance.employee_id %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
