<p id="notice"><%= notice %></p>

<p>
  <strong>Date attendance:</strong>
  <%= @attendance.date_attendance %>
</p>

<p>
  <strong>Checkin morning:</strong>
  <%= @attendance.checkin_morning %>
</p>

<p>
  <strong>Checkout morning:</strong>
  <%= @attendance.checkout_morning %>
</p>

<p>
  <strong>Checkin afternoon:</strong>
  <%= @attendance.checkin_afternoon %>
</p>

<p>
  <strong>Checkout afternoon:</strong>
  <%= @attendance.checkout_afternoon %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
