<!DOCTYPE html>
<html>
  <head>
    <title>RelojChecadorTeam03</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<% if user_signed_in?%>
  <body class="d-flex flex-column min-vh-100">
  <%= render "layouts/header"  %>
  <main class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
   </main>
  <%= render "layouts/footer"%>
  </body>
  <% else  %>
  <body>
 <%= yield %>
  </body>
  <% end %>
</html>
