<%= toastr_flash %>
<h1>Users</h1>
<div class="container-content">

  <div class="d-flex justify-content-between bd-highlightm mb-3">
    <div class="d-flex justify-content-start">
     <%= form_tag(branches_search_path, method: "post", remote: true, authenticity_token: true, role: "form",class: "form") do %>
     <%= text_field_tag('search', nil, placeholder: 'Enter search term...', class: 'form-control') %>
     <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <a class="btn btn-success create-button">New employee</a>
    </div>
  </div>

  <div class="modal fade" id="branch-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render "form"  %>
  </div>


  <table class="table">
    <thead class="table-thead">
      <tr>
        <th class="table-thead-th">Name</th>
        <th class="table-thead-th">Lastname</th>
        <th class="table-thead-th">Username</th>
        <th class="table-thead-th">Email</th>
        <th class="table-thead-th">Actions</th>
      </tr>
    </thead>

    <tbody id="branch-table-body">
     <%= render 'search', remote: true %>
    </tbody>
  </table>
   
</div>

